.Footer{
    padding: 100px;
    background-position: center center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    color: white;
    background-image: url(../../Assets/hero_bg_footer.jpg.webp);
    .mainDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-items: center;
        p{
            color: #fff;
            font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            a{
                color: rgba(255, 255, 255, 0.5);
                text-decoration: none;
            }
        }
    }
}