.section3 {
    padding-top: 7rem;
    padding-bottom: 7rem;

    img{
        width: 302px;
        height: 428px;
    }
    .btn{
        color: #212529;
        background-color: #fee2b3;
        border-color: #fee2b3;
        padding: 12px 25px;
    }
}